<a href="https://colab.research.google.com/github/takatakamanbou/ML/blob/2022/omake01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ML omake01

<img width=64 src="https://www-tlab.math.ryukoku.ac.jp/~takataka/course/ML/ML-logo.png">

----
# Python の初歩
----

C言語プログラミングを少し学んでいる方を想定して， プログラミング言語 Python の初歩の初歩を解説してみます．Colab notebook なので，そのまま実行してみてね．

----
## とりあえず数値の計算

C言語と同様に四則演算の演算子 `+`,`-`, `*`, `/` が使えます．適当に数値や式を変えて実行し直してみるとよいでしょう．

In [ ]:
5963 - 1314

In [ ]:
5+9*6-3

整数だけでなく実数も扱えます（C言語の `float`型や`double`型と同様に浮動小数点数が扱える）．

In [ ]:
4*1 + 6*0.1 + 4*0.01 + 9*0.001

**要注意** C言語と違い，`/` 演算の結果は浮動小数点数になります．

In [ ]:
4/3  # C言語だと整数 2 と整数 3 の除算は整数の範囲で行うので，結果は整数 1 になるはず

In [ ]:
2/3  # Cだと 0

C言語の `/` と同じことをさせたい場合は，`//` を使います

In [ ]:
4//3

べき乗の演算子 `**` というのもあります．また，C言語の普通の整数型（`int`や`long`など）よりも遥かに桁数の多い数も扱えます．

In [ ]:
2**13 - 1  # メルセンヌ素数の一つ

In [ ]:
2**127 - 1 # これもメルセンヌ素数

In [ ]:
2**607 - 1 # 同じく

----
## 変数を使う

もちろん変数も使えます．ただし，C言語と使い方に大きな違いがあります．C言語の変数は，
```
int x;      // x という名前の変数を int 型で使うよ，と宣言
double y;  // y は double 型だよ，と宣言

x = 1 + 2 + 3 + 4 + 5;
y = 3.1415
```
のようにあらかじめ型を決めて宣言しておく必要があります．宣言した型と違うものを代入することはできません．

しかし，Python の変数は，宣言不要でいきなり代入して使えます．

In [ ]:
x = 1 + 2 + 3 + 4 + 5
print(x)  # x の値を表示

上記の例では変数 `x` は整数を扱う型になっています．ですが，次のようにその変数 `x` に実数値を代入してしまうこともできます．

In [ ]:
x = 3.1415
print(x)

上記の例を見ると，「Python の変数には整数型と浮動小数点型の区別がない」と思うかもしれませんが，実際にはそうではありません．「Python の変数は，代入したときに右辺の値に応じた型になる」ということです．

整数と浮動小数点数は，値を表示させてみると区別できます．

In [ ]:
x = 5-5+1+9 # 全て整数で演算結果も整数
print(x)  # このときの変数 x は整数型

In [ ]:
x = 5/5+1*9 # 5/5 の値が浮動小数点数 1.0 → その後の加算も浮動小数点数として行われるので結果も浮動小数点数
print(x)  # このときの変数 x は浮動小数点数型

当然，変数同士の四則演算もできます．

In [ ]:
x = 4649
y = 1314
print(x+y)

In [ ]:
x = 4649
y = 1314
print(x+y, x-y, x*y, x/y)  # この場合，除算の結果のみ浮動小数点数

C言語と同様に `+=`, `-=`, `*=`, `/=` などの演算子もあります．

In [ ]:
x = 4649
x += 1314
print(x)

In [ ]:
x = 128
x *= 2
print(x)

ただし，残念ながら C言語の `++` や `--` 相当の演算子はありません．`+=1`や`-=1`を使うことになります．

In [ ]:
# このセルはエラーになる
x = 5962
x++

----
## for文

C言語と同様に `for` 文が使えます．ただし，使い方/書き方が結構違います．

```
int i;
for (i = 0; i < 5; i++) {
    printf("%d %d\n", i, i*i);
}
```
と同じふるまいをするコードは例えばこんなんです．

In [ ]:
for i in range(5):
    print(i, i*i)

ここでは，Python の `for` 文の詳しい書き方は説明せず，上記の例がどうなってるかの説明のみしておきます．

C言語では，プログラムの一部を`{` と `}` で囲んで，「この部分を繰り返してね」と指定します．`{` と `}` で囲まれた部分を **ブロック** と言います．

一方，Python ではブロックの指定に `{` や `}` は使わず，字下げを使います．上記では，`print(i, i*i)` の行が字下げされているので，この部分が `for` 文で繰り返し実行されるブロックとなります．

また，`range(5)` というのは，「`0` からはじまり `5` の一つ手前までの整数」つまり `0`, `1`, `2`, `3`, `4`を順に作ってくれます．それらの整数値が順に変数 `i` に代入されながら， 字下げされた部分が実行されます．

試しに，上記のコードの `5` を別の数字に変えて実行し直してみましょう．

また，以下のコードを実行して，結果の違いを確認しましょう．

In [ ]:
for i in range(3):
    print('ほげ')
    print('ふが')

In [ ]:
for i in range(3):
    print('ほげ')
print('ふが')

`range()`に2つまたは3つの数を指定すると...説明は省略するので，どうなってるか考えてみてね．

In [ ]:
for i in range(2, 5):
    print(i, i*i)

In [ ]:
for i in range(2, 10, 3):
    print(i, i*i)

`for` 文はもっといろんなことができるのですが，ここでは省略します．

In [ ]:
for x in [0, 'いち', '二', 3.1415, ['ほげ', 'ふが'], 'Go']:
    print(x)

`while`文もありますが，説明は省略します．以下の例を見たら感じはわかるでしょう．

In [ ]:
s = 0
while s < 5:
    print(s)
    s += 1

----
## if文

Python でも `if` 文で条件分岐ができます．基本的な構造はこんなん．
```
if 条件式:
    条件が真だったときだけ実行するブロック
```
条件式のところには，例えば `x` に整数値が代入されているとして，`x > 0` や `x == 5963` のような式が書けます．

`else`を使って，if-else の構造にすることもできます．
```
if 条件式:
    条件が真だったときだけ実行するブロック
else:
    条件が偽だったときだけ実行するブロック
```

In [ ]:
oyatsu = 500
oyatsuMax = 300
if oyatsu <= oyatsuMax:
    print('okです')
else:
    print('おやつは', oyatsuMax, '円までですよ！')

C言語で整数を「60未満」，「60以上80未満」，「80以上」の三通りに分類するなら，たとえばこんなんなるでしょう．
```
int score = 59;
if (score < 60) {
    printf("60未満ほげ\n");
} else {
    if (score < 80) {
        printf("60以上80未満ほげ\n");
    else {
        printf("80以上ほげ\n");
    }
}
```

同様のものを Python で書くと，こんなん．

In [ ]:
score = 59
if score < 60:
    print("60未満ほげ")
else:
    if score < 80:
        print("60以上80未満ほげ")
    else:
        print("80以上ほげ")

`else` と `if` の組み合わせは `elif` を使って次のように書くこともできます．

In [ ]:
score = 59
if score < 60:
    print("60未満ほげ")
elif score < 80:
    print("60以上80未満ほげ")
else:
    print("80以上ほげ")

----
## 練習問題

(1) `for` を使って `1` から `10` までの自然数の和を計算して `print` するコードを以下のセルに書いて実行し，動作確認しなさい．

(2) 以下のセルの内容を修正して，変数 `i` の値が3の倍数であれば `ほげ`，5の倍数であれば `ふが`，両方の倍数（すなわち15の倍数）であれば `ほげふが` と `print` するコードにしなさい．

`i`の値が3の倍数かどうかは，C言語と同様に，`i % 3` の値が `0` と等しいかどうかで判定できます．

In [ ]:
for i in range(1, 21):
    print(i)

(3) 以下のセルを実行すると変数 `sum` に
$$ \sum_{k=1}^{N} (3k^2 - 3k + 1) $$
の値が代入されるように，セルに for 文を使ったコードを追加しなさい． `N = 8` のときの結果は `512`，`N = 10` のときは `1000`， `N = 100` のときは `1000000`...

In [ ]:
N = 8
sum = 0
# ここに for 文を使ったコードを書く
print(sum)